@font-face {
  font-family: "ABCFavoritMono-Book";
  src: url("/fonts/ABCFavoritMono-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
